{% load static %}
<!DOCTYPE HTML>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Invitation</title>
  <style>
    body {
      margin: 0;
      padding: 0;
      background-color: #ffffff;
      color: #000000;
      font-family: 'Raleway', sans-serif;
    }

    .container {
      max-width: 600px;
      margin: 0 auto;
    }

    .content {
      padding: 40px 20px;
      text-align: left;
    }
  </style>
</head>

<body>
  <div class="container">
    <table style="width: 100%;">
      <tr>
        <td colspan="2" class="content">
          <p>
            <span><strong>Hey there!</strong></span>
          </p>
          <p>You have been invited to join <strong>Ton+ partnership</strong> as a team member. Click <a href="https://partnership-five.vercel.app/auth/register" target="blank">here</a> to create your profile.</p>
          <p>
            <a href="https://partnership-five.vercel.app/auth/register" target="blank">https://partnership-five.vercel.app/auth/register</a>
          </p>
          <br>
        </td>
      </tr>
    </table>
  </div>
</body>
</html>